[Unit]
Description={{ app_description | default("Python Application") }}
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ target_dir }}/

{% if framework == "fastapi" %}
ExecStart={{ venv_unicorn }} {{ entry_point_path | replace('/', '.') | replace('main.py', 'main:app') | regex_replace('^\.', '') }}

{% elif framework == "django" %}
ExecStart={{ venv_python3 }} {{ target_dir }}/{{ entry_point_path }} runserver

{% else %}
ExecStart={{ venv_python3 }} {{ target_dir }}/{{ entry_point_path }}

{% endif %}

Restart=always       
RestartSec=5         

[Install]
WantedBy=multi-user.target